/* ———————————————————————————————————————————————— */
/*    === === === === ANIMATION === === === ===     */
/* ———————————————————————————————————————————————— */
@keyframes pulse-light-theme {
  0% {
    opacity: 1;
  }
  5% {
    opacity: .91;
  }
  50% {
    opacity: .52;
  }
  95% {
    opacity: .925;
  }
  100% {
    opacity: 1;
  }
}