/* ———————————————————————————————————————————————— */
/*  === === === === === MEDIA === === === === ===   */
/* ———————————————————————————————————————————————— */
@media screen and (max-width: 1201px) {
  main {
    .content__wrapper {
      padding: var(--main-wrapper-top-margin) var(--main-wrapper-right-margin)
        var(--main-wrapper-bottom-margin) var(--main-wrapper-left-margin);
    }
  }
}
@media screen and (max-width: 1242px) and (min-width: 830px) {
  .section__heading {
    margin: 0 auto;
    transform: translateX(-11%);
  }
}
@media screen and (max-width: 1242px) and (min-width: 805px) {
  .sneakers-catalog {
    margin: 0 auto;
    max-width: 768px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 830px) {
  .section__heading {
    max-width: 370px;
    margin: 0 auto;
  }
  .sneakers-catalog {
    margin: auto;
    max-width: 680px;
    justify-content: center;
  }
  .sneaker__similar-sneakers {
    justify-content: center;
  }
}
@media screen and (max-width: 790px) {
  .sneaker-big__parameters {
    flex: var(--none);
  }
}
@media screen and (max-width: 720px) {
  header {
    & .content-wrapper {
      display: flex;
      flex-direction: column;
      gap: var(--primary-gap-scale);
    }
  }
  .logo {
    &:where(.header, .footer) {
      margin: auto;
    }
  }
  .socials {
    margin: auto;
  }
  .footer__top {
    flex-direction: column;
  }
}
@media screen and (max-width: 829px) and (min-width: 460px) {
  .sneaker__similar-title {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 829px) and (min-width: 535px) {
  .sneaker__similar-title {
    max-width: 50%;
    transform: translateX(clamp(0%, 0.8dvw, -2.5%));
  }
}
@media screen and (max-width: 535px) and (min-width: 460px) {
  .sneaker__similar-title {
    max-width: 80%;
    transform: translateX(-17%);
  }
}
@media screen and (max-width: 460px) {
  .sneaker__similar-sneakers {
    flex-wrap: wrap;

    & .sneaker {
      min-width: unset;
    }
  }
  .section__heading {
    max-width: unset;
    margin: 0;
  }
  .sneaker {
    max-width: unset;
    width: var(--100-percent);
  }
}
@media screen and (max-width: 375px) {
  :root {
    --header-wrapper-top-padding: var(--primary-gap-scale);
    --header-wrapper-right-padding: calc(var(--primary-gap-scale) / 100 * 66);
    --header-wrapper-bottom-padding: var(--primary-gap-scale);
    --header-wrapper-left-padding: calc(var(--primary-gap-scale) / 100 * 66);
    --main-wrapper-right-padding: calc(var(--primary-gap-scale) / 100 * 66);
    --main-wrapper-left-padding: calc(var(--primary-gap-scale) / 100 * 66);
    --footer-wrapper-top-padding: calc(var(--primary-gap-scale) / 100 * 133);
    --footer-wrapper-left-padding: calc(var(--primary-gap-scale) / 100 * 66);
    --footer-wrapper-bottom-padding: var(--primary-gap-scale);
    --footer-wrapper-right-padding: calc(var(--primary-gap-scale) / 100 * 66);
  }
}
@media screen and (max-width: 360px) {
  .sneaker__title,
  .sneaker__text {
    text-align: center;
  }
}
@media print {
  html {
    filter: saturate(0);
  }
}
[dir="rtl"] {
  :where(
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      .section-heading,
      .sneaker__title,
      .sneaker__text
    ) {
    text-align: right;
  }
  .socials {
    margin-left: unset;
    margin-right: auto;
  }
}
